/* ELEMENT SELECTORS */
body {
    background-color: "white";
}
/* CLASS SELECTORS */
.box-container {
    margin: 50px auto 0 auto;
    padding: 0 0 0 0;
}

.four-boxes {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    max-width: 400px;
    border: grey solid 2px;
}
.two-boxes {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 400px;
}
.click-box {
    max-width: 200px;
    height: 200px;
    padding: 0 0 0 0;
}
.unclicked-box {
    background-color: white;
}
.unclicked-box:hover {
    background-color: grey;
}
.clicked-box {
    background-color: black;
}
/* ID SELECTORS */
#box-1 {

}

#box-2 {

}

#box-3 {

}

#box-4 {

}
